@use "../util/" as u;
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Manrope',Arial, Helvetica, sans-serif;
    line-height: 1.7;
    font-size: clamp(u.rem(16), 0.9353448275862069rem + 0.27586206896551724vw, u.rem(18));
    overflow-x: hidden;
    padding-block-end: 50vh;
}
h1,h2,h3,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
   max-width: 100%;
   height: auto;
}
a,a:visited,a:active{
    text-decoration: none;
}
.wrapper{
    
    width: min(100% -
    u.rem(32),u.rem(1110));
    margin-inline: auto;
}
.curved{
    position: relative;
    &::after {
          
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-image: url(/assets/images/curved-hero-bottom.svg);
        inset: 40.8% 0 0 0;
        background-size: 100% 50%;

    }
    &.light{
        &::after{background-image: url(/assets/images/curved-hero-bottom-light.svg);
        }
    }
}